@use "../../styles/" as *;
.layout {
  position: relative;

  &__content {
    position: relative;
    width: 1200px;
    margin: 10px auto 0;
    @include responsive(tabletMobie) {
      width: 100%;
      padding: 0 12px;
    }
  }
}
