@use "../../styles/" as *;
.layout {
  position: relative;
  &__content {
    position: relative;
    width: 1200px;
    margin: 10px auto 0;
    @include responsive(tabletMobie) {
      width: 100%;
      padding: 0 12px;
    }
 
  }
  &__tag {
    margin-top: 10px;
    margin-bottom: 10px;
    @include flex(space-between, center);
    @include responsive(tabletMobie) {
      @include flex(unset, center);
      flex-direction: column;
    }
 
    &__item {
      padding: 5px 10px;
      border-radius: 10px;
    }
    h2 {
      color: #444;
      font-weight: 600;
      font-size: 22px;
      @include responsive(tabletMobie) {
        margin-bottom: 6px;
      }
    
    }
  }
}

.site-layout-content {
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
