@use '../../../../styles/' as * ;
.news__item{
   
    cursor: pointer;
    display: block;
    width: 100%;
    height: 247px;
    transition: scale .5s ease;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
   border: 2px solid #dedede;
    border-radius: 15px;
    scale: 0.98;
    overflow: hidden;
    &:hover{
        scale: 1.03;
    }
    
    &__title{
    transition:all 0.5s ease-in;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
 
    overflow: hidden;
    color: #444;
    font-size: 16px;
    font-weight: 600;
    padding: 0 8px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__img{
        padding: 4px;
        width: 100%;
        height: 185px;
        overflow: hidden;
        
        & img{
           width: 100%;
            height: 100%;
          object-fit: cover;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;

          
          &:hover{
           
          }
        }
    }
  
}