@use "../../styles/" as *;
.wrapper__listProduct {
    @include responsive(tablet) {
    @include flex(center, center);
        margin-bottom: 60px;
    }
    @include responsive(mobie) {
    @include flex(center, center);
        margin-bottom: 60px;
    }
  
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 50px;
   
}

.ant-table-cell {
    max-width: 200px;
}

.wrapper-header {
}
.btn-add {
    @include responsive(lg) {
        text-align: center;
    }
    @include responsive(tablet) {
        text-align: center;
    }
    @include responsive(mobie) {
        text-align: center;
    }
    margin-bottom: 20px;
    text-align: right;
}
.icon-loading {
    @include flex(center, center);
    height: 100vh;
    font-size: 30px;
   
}
