@use '../../../../styles/' as * ;
.appreciate {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;

    @include responsive(lg) {
        margin-bottom: 70px;
    }
    @include responsive(tablet) {
               margin-bottom: 70px;

    }
    @include responsive(mobie) {
               margin-bottom: 70px;

    }
    &__bottom{
        
        @include responsive(mobie) {
            margin-top: 60px;

        }
    }
    &__title{
     
        color: $p-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin: 8px 0;
    }
    &__btn{
     
        text-align: center;
        
        button{
        cursor: pointer;

        background-color: $primary-color;
    border: 1px solid  #d7000e;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    width: 300px;
    color: #fff;
    font-size: 16px;
        }
    }
   
  &__icon{
    fill: #f59e0b;
    margin: 0 4px; 

  }
    &__inner{
    }
    h2 {
        color: #363636;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.125;
        margin-bottom: 24px;
    }
    &__review {
        @include flex(unset,center);
        border: 1px solid #e5e7eb;
        border-radius: 15px;
        height: 160px;
        @include responsive(mobie) {
            display: block;

        }   
        @include responsive(tablet) {
            display: block;

         }
        &__item {
          width: 60%;
          border-left: 1px solid #e5e7eb;
          @include responsive(lg) {
                width: unset;
        }
        @include responsive(tablet) {
                width: 100%;
        }
       
        @include responsive(mobie) {
            width: 100%;

        }  


        }
        &__score {
        @include flex(unset,center);
            
            border-left: 1px solid #e5e7eb;
            border-right: 1px solid #e5e7eb;
            flex-direction: column;
           width: 40%;
           @include responsive(lg) {
            width: unset;
    }
    @include responsive(tablet) {
            width: 100%;
    }@include responsive(mobie) {
        width: 100%;

    }  
   
            p{
                color: $p-color;
                font-size: 16px;
                line-height: 1.5;
                font-weight: 400;
            }
            &__title{
                color: #363636;
               
                font-size: 22px;
                font-weight: 700;
                line-height: 1.125;
            }
            &__rate{
                color: #f59e0b ;
            }
        }
        &__star{
        @include flex(space-evenly,center);
        &__process{
            width: 340px;
            color: red;
        }
        &__icon{
            span{
                font-weight: 600;

            }
        }

        }
    }
}
