@use "../../../../styles/" as *;
.sale {
    background: linear-gradient(rgb(255, 211, 145), rgb(255, 211, 145)) 0% 0% / cover;
    border-radius: 10px;
    margin: 25px 0 15px;
    min-height: 350px;
    padding: 2px;
    &__title {
        @include flex(space-between, center);
        padding: 10px 8px 0;
        width: 100%;
        @include responsive(lg) {
        @include flex(unset, center);
        flex-direction: column;
           
        }
        @include responsive(tablet) {
        @include flex(unset, center);
        flex-direction: column;
        gap: 10;
           
        }
        &__countdown {
            @include flex(unset, unset);
            p {
                color: rgb(198, 10, 9);
                font-size: 15px;
                font-weight: 700;
               
            }
        }
    }
    &__box__time {
        @include flex(unset, center);
        margin-left: 10px;
        &__item {
            list-style: none;
            display: flex;     
          
        }
        &__number{
            background: #fff;
            border-radius: 3px;
            color: #222;
            font-size: 14px;
            font-weight: 700;
            height: 25px;
            padding: 2px 5px;
            text-align: center;
            width: 25px;
            color: rgb(198, 10, 9);
            font-weight: bold;
        }
        &__sperate{
            line-height: 26px;
          margin: 0 5px;
          color: rgb(198, 10, 9);
          font-weight: 700;

        }
    }
}
.mySwiper{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px !important;
}